
<div class="col-xs-3">
  <h2> User info </h2>
  <%= attachment_image_tag user, :profile_image, size: '100x100', fallback: 'no_image.jpg' %>
  <table class="table">
    <tbody>
      <tr>
        <th> name </th>
        <th> <%= current_user.name %> </th>
      </tr>
      <tr>
        <th> introduction </th>
        <th> <%= current_user.introduction %> </th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <%# if user.id == current_user.id %>
      <%= link_to '', edit_user_path(current_user.id), method: :get, class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    <%# else %>
      <%#= link_to '', user_path(user.id), :class => 'col-xs-12 btn btn-default glyphicon glyphicon-wrench' %>
    <%# end %>
  </div>
  
  
  <h2> New book</h2>
  <%= form_with model: @book, local:true do |f| %>
    <div class="field row">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, :class => 'form-control book_title' %>
    </div>
    
    <div class="field row">
      <%= f.label :body, 'Opinion' %>
      <%= f.text_area :body, :class => 'form-control book_title' %>
    </div>
    
    <br>
    
    <div class="actions row">
      <%= f.submit "Create Book", :class => 'btn btn-success ' %>
    </div>
  <% end %>
</div>

